<header class="site-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-logo" href="#">
          <h3>Howsing</h3>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>
        <li>{{#link-to 'listings.new'}}Add Listing{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</header>

<section class="pane">
  <div class="row">
    <div class="col-md-8">
      <div class="listing-container">
        {{outlet "listing"}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="listings-container">
        {{outlet "listings"}}
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="container-fluid">
    <p>Property of Howsing, Inc.</p>
  </div>
</footer>