<ul class="nav nav-tabs nav-justified">
  <li><a class="active" data-toggle="tab" href="#listings">All Listings</a></li>
  <li><a data-toggle="tab" href="#shortlisted">Shortlisted Listing</a></li>
</ul>