<div class="listing-title">
  <div class="clearfix">
    <h3 class="pull-left">{{model.bedrooms}} bedroom, {{model.furnishingState}}</h3>
    <a {{bind-attr class=":btn :pull-right :btn-shortlist isShortlisted:btn-success:btn-default"}} {{action 'shortlistListing' on="click"}}>
      <span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      Shortlist
    </a>
  </div>
</div>

<div class="listing-image">
  <%= image_tag 'house', class: 'image-contained', height: 300 %>
</div>
<hr>
<p>Listing by: {{model.user.email}}</p>
<p class="btn btn-success" {{ action 'sendEmail' on='click' }}>Send Email</p>
<hr>
<div class="listing-specifications">
  <div class="row">
    <div class="col-md-4">
      {{listings-property specKey="Property Type" specValue=model.propertyType unit="" saveContent='saveContent'}}
      {{listings-property specKey="Location" specValue=model.area unit="" saveContent='saveContent'}}
      {{listings-property specKey="Furnishing" specValue=model.furnishingState unit="" saveContent='saveContent'}}
    </div>

    <div class="col-md-4">
      {{listings-property specKey="Bedrooms" specValue=model.bedrooms unit="" saveContent='saveContent'}}
      {{listings-property specKey="Bathrooms" specValue=model.bathrooms unit="" saveContent='saveContent'}}
      {{listings-property specKey="Balconies" specValue=model.balconies unit="" saveContent='saveContent'}}
    </div>

    <div class="col-md-4">
      {{listings-property specKey="Rental" specValue=model.price unit="Rs" saveContent='saveContent'}}
      {{listings-property specKey="Deposit" specValue=model.deposit unit="Rs" saveContent='saveContent'}}
      {{listings-property specKey="Area" specValue=model.buildUpArea unit="sq.ft." saveContent='saveContent'}}
    </div>
  </div>
</div>
<hr>

