.site-header {
  .navbar {
    margin-bottom: 0;
  }

  .navbar-default {
    border: 0;
    border-radius: 0;
    background: #7323dc;
  }

  .navbar-logo {
    color: #fff;

    h3 {
      margin-top: 10px;
    }
  }
}